@media screen and (max-width: 720px){

    .media-phone{
        display: inline;
    }

    .media-desktop{
        display: none;
    }

    body{
        min-width: 420px;
    }

    main{
        height: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .nav-phone{
        display: block;
        position: relative;
        transition: all 750ms ease 100ms;
    }

    #nav_menu{
        display: none;
    }

    #nav_menu:checked + .nav-phone_list{
        display: block;
        transform: translate(-172px, -4px);
    }

    #nav_menu:not(checked) + .nav-phone_list{
        display: none;
        transform: translate(0px, -4px);
    }
    
    .nav-phone_list{
        width: 200px;
        position: absolute;
        font-family: var(--secondary-font);
        font-size: .8rem;
        background-color: var(--primary-color);
        color: var(--font-color);
        padding: 4px;
        transition: transform 750ms ease 100ms;
        z-index: 10;
    }

    .nav-phone_list > li{
        list-style: none;
        border-bottom: 1px solid var(--tertiary-color);
        padding: 12px;
    }

    .nav-phone_list > li > ul{
        padding-bottom: 0px;
        padding-top: 4px;
    }

    .nav-phone_list > li > ul > li > a{
        text-decoration: none;
        list-style: none;
        border-bottom: none;
        width: 100%;
        line-height: 2rem;
        color: var(--font-color);
    }
    
    .nav-list{
        display: none;
    }
    
    .nav-menu{
        margin-right: 12px;
        padding-right: 0;
        display: block;
    }

    .logo{
        padding-left: 12px;
        font-family: var(--primary-font);
        font-size: 1.2rem;
    }

    header{
        position: static;
        min-width: 320px;
    }

  
    /*main*/
    
    .container-upper{
        padding: 0;
        margin: 0;
    }
    
    .container-upper h1{
        font-size: 2.5rem;
        padding: 212px 8px 0 8px;
        filter: opacity(.8);
    }
    
    .container-upper p{
        font-size: .6rem;
        width: 100%;
        padding: 4px 0;
        line-height: 1rem;
        filter: opacity(.8);
    }
    
    .container-middle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 36px 0;
        height: 1150px;
        text-align: center;
    }

    .container-middle_left, .container-middle_right{
        width: 100%;
        padding: 4px 0;
    }

    .sub-left, .sub-right{
        margin-right: 0;
    }

    .sub-right{
        margin-top: 52px;
    }
    
    .container-middle_left > div, .container-middle_right > div{
        margin-left: 0;
    }

    .young-brother{
        margin: 0 8px;
        width: 170px;
        min-width: 140px;
    }

/*Documentacion complementaria*/
    
    .doc-complementaria, .links-interes{
        margin-bottom: 24px;
        width: 100%;
        min-width: 0;
    }
    
}
