:root{
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Source Sans Pro', sans-serif;
    --primary-color: #22514c;
    --secondary-color: #8bb2a2;
    --tertiary-color: #d23f24;
    --font-color: #f6cbbc;
}

body{
    background-color: var(--secondary-color);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: var(--primary-color);
    color: var(--font-color);
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 1rem;
}

header nav ul li{
    list-style: none;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 36px;
    position: relative;
    width: 130px;
    text-align: center;
    border-right: solid 1px var(--font-color);
}

header nav ul li:hover{
    background-color: var(--tertiary-color);
    color: var(--font-color);

}

header nav ul li:hover > .nav-list_supervision__items, header nav ul li:hover >.nav-list_rtd__items{
    display: block;
}

.nav-list_supervision__items li:hover > a, .nav-list_rtd__items li:hover > a {

    color: var(--font-color);
}

.logo{
    padding-left: 12px;
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

.nav-list_supervision__items, .nav-list_rtd__items{
    display: none;
    position: absolute;
    margin-top: 20px;
    transform: translateX(-52px);
}

.nav-list_supervision__items a, .nav-list_rtd__items a{
    text-decoration: none;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: .8rem;
    color: var(--primary-color);   
    width: 100%;
    line-height: 4rem;
}

.nav-list_supervision__items > li, .nav-list_rtd__items > li{
    border-bottom: solid 1px var(--primary-color);
    text-align: center;
    background-color: var(--secondary-color);
    width: 130px;
    transform: translateY(-20px);
}


/*main*/

.container-upper{
    background-image: url(../asset/img/fondo6.jpg);
    background-size: cover;
    text-align: center;
    height: 360px;
}

.container-upper h1{
    margin: 0;
    padding-top: 100px;
    font-family: var(--primary-font);
    font-size: 4.7rem;
    color: var(--font-color);
    text-shadow: 0 0 8px rgba(0,0,0,.4);
}

.container-upper p{
    display: inline-block;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    background-color: var(--font-color);
    font-size: .8rem;
    font-weight: 400;
    padding: 10px;
}

.container-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 960px;
    margin: 36px auto;
    height: 480px;
    text-align: center;
}

.grid-container-left, .grid-container-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 2px var(--font-color);
    border-radius: 4px;
    padding: 4px;
    height: 80%;
}

.grid-container-left{
    margin-right: 8px;
}

.grid-container-right{
    margin-left: 8px;
}

.container-middle__subtitulo {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400s;
    line-height: 2rem;
    color: var(--primary-color);
    background-color: var(--font-color);
    border-radius: 4px;
}

.sub-left{
    margin-right: 8px;
}

.sub-right{
    margin-left: 8px;
}

.grid-container-left div, .grid-container-right div{
    background-color: var(--primary-color);
    margin: 4px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-weight: 500;
    color: var(--font-color);
    transition: all .3s ease;
}

.grid-container-left div:hover, .grid-container-right div:hover{
    background-color: var(--tertiary-color);
    cursor: pointer;
}

section div div a, section div div p{
    text-decoration: none;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--font-color);   
    width: 100%;
}


.grid-container-left .container-middle_left__parte .menu-ps, .grid-container-left .container-middle_left__dym .menu-dym{
    display: none;
}


/*Documentacion complementaria*/

.doc-complementaria{
    margin: 0 auto 48px;
    width: 80%;
    max-width: 960px;
    display: block;
    background-color: var(--font-color);
    border-radius: 4px;
}

.doc-complementaria_titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.doc-complementaria_titulo label{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.doc-complementaria_contenido, #cb-comp{
    display: none;
}

input[type="checkbox"]:checked ~ .doc-complementaria_contenido{
    display: block;
    padding: 12px 24px 36px 24px;
}

.doc-complementaria_contenido a{
    display: block;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
    line-height: 36px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
}

.doc-complementaria_contenido a:hover{
    color: var(--tertiary-color);
}


/*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: var(--secondary-font);
    font-size: .7rem;
    font-weight: 200;
    text-align: center;
    height: 48px;
    line-height: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

.logo-provincia{
    background-image: url(../asset/img/logo.png);
    background-size: cover;
    height: 36px;
    width: 36px;
    margin: 4px;
}

footer p{
    margin: 0;
}
