:root{
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Source Sans Pro', sans-serif;
    --primary-color: #414642;
    --secondary-color: #4eaaad;
    --tertiary-color: #71b29f;
    --font-color: #eeeeee;
}

.media-phone, .nav-phone{
    display: none;
}

.media-desktop{
    display: inline;
}

body{
    background-color: var(--secondary-color);
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: var(--primary-color);
    color: var(--font-color);
    position: fixed;
    width: 100%;
    z-index: 10;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 1rem;
}

header nav ul li{
    list-style: none;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 36px;
    position: relative;
    width: 130px;
    text-align: center;
    border-right: solid 1px var(--font-color);
}

.logo{
    padding-left: 12px;
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

.nav-list_supervision__items, .nav-list_rtd__items{
    display: none;
    position: absolute;
    margin-top: 20px;
    transform: translateX(-52px);
}

.nav-list_supervision__items a, .nav-list_rtd__items a{
    text-decoration: none;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: .8rem;
    color: var(--primary-color);   
    width: 100%;
    line-height: 4rem;
}

.nav-list_supervision__items > li, .nav-list_rtd__items > li{
    border-bottom: solid 1px var(--primary-color);
    border-right: none;
    text-align: center;
    background-color: var(--secondary-color);
    width: 130px;
    transform: translateY(-20px);
}

header nav ul li:hover{
    background-color: var(--tertiary-color);
    color: var(--font-color);
}

header nav ul li:hover > .nav-list_supervision__items, header nav ul li:hover >.nav-list_rtd__items{
    display: block;
}

.nav-list_supervision__items li:hover > a, .nav-list_rtd__items li:hover > a {
    color: var(--font-color);
}


/*main*/

.container-upper{
    background-image: url(../asset/img/fbyn8.jpg);
    background-size: cover;
    text-align: center;
    height: 360px;
}

.container-upper h1{
    margin: 0 auto;
    padding-top: 100px;
    font-family: var(--primary-font);
    font-size: 4.7rem;
    color: var(--font-color);
    text-shadow: 0 0 8px rgba(0,0,0,.4);
}

.container-upper p{
    display: inline-block;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    background-color: var(--font-color);
    font-size: .8rem;
    font-weight: 400;
    padding: 10px;
}

.container-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 960px;
    margin: 36px auto;
    height: 556px;
    text-align: center;
}

.container-middle_left, .container-middle_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 2px var(--font-color);
    border-radius: 4px;
    padding: 4px;
    width: 460px;
    height: 480px;
}

.container-middle_left{
    grid-template-rows: repeat(3, 1fr);
}

.container-middle_right{
    grid-template-rows: repeat(4, 1fr);
}

.container-middle__subtitulo{
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400s;
    line-height: 2rem;
    color: var(--primary-color);
    background-color: var(--font-color);
    border-radius: 4px;
}

.sub-left{
    margin-right: 8px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sub-right{
    margin-right: 8px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.container-middle_left > div, .container-middle_right > div{
    background-color: var(--primary-color);
    margin: 4px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.container-middle_left .old-brother_eventos{
    display: block;
    height: 126px;
}

.container-middle_left .old-brother_eventos p{
    line-height: 96px;
}

.container-middle_left .young-brother_eventos a{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: .8rem;
    color: var(--primary-color);
    display: inline-block;
    line-height: 36px;
    width: 100%;
}

.container-middle_left > div:hover, .container-middle_right > div:hover{
    background-color: var(--tertiary-color);
    cursor: pointer;
}

.container-middle_left a{
    text-decoration: none;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--font-color);   
    width: 100%;
}

.container-middle_left__relevamientos, .container-middle_left__actividades{
    padding: 0 12px;
}


/*registro de trabajo diario*/

.old-brother{
    background-color: var(--primary-color);
    color: var(--font-color);
    z-index: 10;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative
}

.old-brother:hover{
    background-color: var(--tertiary-color);
    cursor: pointer;
}

.young-brother{
    background-color: var(--font-color);
    transition: transform 750ms ease 300ms;
    padding-top: 4px;
    transform: translate(12px, 6px);
    width: 200px;
    height: 84px;
    border-radius: 0 0 3px 3px;
    position: absolute;
}

.container-middle_right p, .container-middle_left p{
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--font-color);   
    width: 100%;
}

.container-middle_right a{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: .8rem;
    color: var(--primary-color);
    display: inline-block;
    line-height: 36px;
    width: 100%;
}


/*hover father*/

.father-z1:hover .young-brother_z1,
.father-z2:hover .young-brother_z2,
.father-z3:hover .young-brother_z3,
.father-z4:hover .young-brother_z4,
.father-z5:hover .young-brother_z5,
.father-z6:hover .young-brother_z6,
.father-z7:hover .young-brother_z7,
.father-int:hover .young-brother_int{
    transform: translate(11px, 92px);
}

.father-eventos:hover .young-brother_eventos{
    transform: translate(11px, 106px);
}

.young-brother_eventos a:hover, .container-middle_right a:hover{
    color: var(--tertiary-color);
}


/*z-index*/

.old-brother_z1, .old-brother_z2{
    z-index: 8;
}

.young-brother_z1, .young-brother_z2{
    z-index: 7;
}

.old-brother_z3, .old-brother_z4{
    z-index: 6;
}

.young-brother_z3, .young-brother_z4{
    z-index: 5;
}

.old-brother_z5, .old-brother_z6{
    z-index: 4;
}

.young-brother_z5, .young-brother_z6{
    z-index: 3;
}

.old-brother_z7, .old-brother_int, .old-brother_eventos{
    z-index: 2;
}

.young-brother_z7, .young-brother_int, .young-brother_eventos{
    z-index: 1;
}


/*Documentacion complementaria*/

.doc-complementaria, .links-interes{
    width: 80%;
    max-width: 960px;
    min-width: 320px;
    display: block;

}

.doc-complementaria{
    margin: 72px auto 24px auto;
}

.links-interes{
    margin: 24px auto 48px auto;
}

.doc-complementaria_titulo, .links-interes_titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    border-bottom: 2px solid var(--font-color);
}

.doc-complementaria_titulo label, .links-interes_titulo label{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.doc-complementaria_contenido, .links-interes_contenido, #cb-comp, #cb-links{
    display: none;
}


.doc-complementaria_contenido a, .links-interes_contenido a{
    display: block;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
    line-height: 36px;
    cursor: pointer;
    border-bottom: 1px dotted var(--font-color);
}

.doc-complementaria_contenido a:hover, .links-interes_contenido a:hover{
    color: var(--font-color);
}

.checkbox-complementaria:checked ~ .doc-complementaria_contenido{
    display: block;
    padding: 12px 24px 36px 24px;
}

.checkbox-links:checked ~ .links-interes_contenido{
    display: block;
    padding: 12px 24px 36px 24px;
}


/*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: var(--secondary-font);
    font-size: .7rem;
    font-weight: 200;
    text-align: center;
    height: 48px;
    line-height: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

.logo-provincia{
    background-image: url(../asset/img/logo.png);
    background-size: cover;
    height: 36px;
    width: 36px;
    margin: 4px;
}

footer p{
    margin: 0;
}
